* {
    box-sizing: border-box;
}

html, body {
    font-family: "pixel font", serif;
    background-image: url("stars3.gif");
    cursor: url("blue.cur"), default;
}

#container {
    border: 4px double purple;
    margin: 25px auto;
    width: 1000px;
    height: auto;
    text-align: center;
    background-color: #030303;
}

@font-face {
    font-family: "pixel font";
    src: url("font22.TTF") format("truetype");
}

@font-face {
    font-family: "slim font";
    src: url("ambitsek.ttf") format("truetype");
}

@font-face {
    font-family: "pix";
    src: url("pix.ttf") format("truetype");
}

header {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    border-bottom: 4px double purple;
    margin-bottom: 10px;
    font-size: 14px;
    background-color: #030303;
}

form {
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
    font-family: "slim font", serif;
    margin-bottom: 15px;
}

input {
    font-family: "slim font", serif;
    max-width: 90%;
    box-sizing: border-box;
    border: 2px solid purple;
    background-color: black;
    color: #F6F6F6;
}

#signup-form {
    margin-top: 35px;
}

#signup-box {
    border: 3px solid #F6F6F6;
    border-left: 5px solid #F6F6F6;
    border-top: 5px solid #F6F6F6;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto 50px auto;
}

#welcome {
    margin-top: 30px;
}

button {
    font-family: "slim font", serif;
}

h2 {
    color: #F6F6F6;
    margin-bottom: 4px;
}

p {
    font-size: 14px;
}

a {
    font-family: "slim font", serif;
    color: #F6F6F6;
}

a:hover {
    color: purple;
    transition: 0.3s all;
}

a:active {
    color: black;
}

.blue {
    color: #06D1FB;
}

.yellow {
    color: #FFFB05;
}

#pika {
    position: fixed;
    top: 0;
    right: 50px;
}

audio::-webkit-media-controls-panel {
    background-color: #FFFB05;
}

audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-mute-button {
    background-color: #06D1FB;
    border-radius: 50%;
}

footer {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

#footermsg {
    color: #F6F6F6;
}

.main-content {
    color: #F6F6F6;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 40px;
    font-family: "slim font", serif;
    border-bottom: 2px dashed purple;
}

h3 {
    margin-top: 0;
}

.rainbowText {
    font-family: "slim font", serif black;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 200s linear infinite;
}

@keyframes move {
    to {
        background-position: 4500vh;
    }
}

#chatbox {
    margin: 25px auto;
    text-align: left;
    padding: 10px;
    background-image: url("stars3.gif");
    height: 300px;
    width: 530px;
    overflow: hidden;
    border: 2px solid purple;
}

#chatbox p {
    padding-left: 15px;
    color: cyan;
    font-size: 14px;
}

#chat-wrapper {
    margin: 0 auto;
    background: black;
    width: 600px;
    max-width: 100%;
    border: 2px solid purple;
    border-radius: 10px;
}

#chat-content {
    padding-top: 50px;
}

.form-field label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 530px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    row-gap: 10px;
    margin-right: 10px;
}

#send {
    display: flex;
    align-items: stretch;
}

#signsubmit {
    background-color: #0A0A0A;
    padding: 5px;
    font-size: 14px;
    color: #F6F6F6;
    box-sizing: border-box;
    border: 2px solid purple;
    border-radius: 4px;
}

#send input[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5px 15px;
    font-size: 16px;
    margin-right: 30px;
    background-color: black;
    border-radius: 4px;
}

#send input[type="submit"]:hover, a:hover, #clear input[type="submit"]:hover, #signsubmit:hover, #login-submit:hover, #create:hover {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 400s linear infinite;
}

::-webkit-scrollbar {
    display: none;
}

b {
    color: red;
    font-weight: bold;
}

form.signup {
    color: #F6F6F6;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 3px;

}

#construction {
    margin-bottom: 25px;
}

.flashes {
    color: #F6F6F6;
    margin-bottom: 20px;
}

#login-header {
    margin-top: 30px;
    color: red;
}

#login-p {
    color: cyan;
}

.login {
    font-size: 18px;
}

#login-submit {
    border: 2px solid purple;
    color: #F6F6F6;
    background-color: black;
    font-size: 18px;
    padding: 5px;
    margin-top: 15px;
    border-radius: 4px;
}

#terminal {
    text-align: left;
    padding-top: 20px;
    padding-left: 35px;
    margin-bottom: 10px;
}

.cyan {
    color: cyan;
}

.red {
    color: red;
}


#forum-posts {
    list-style-type: none;
}

.post {

}

.post-header {
    font-size: 26px;
    color: #FFFB05;
    font-family: "pix", serif;
    margin-bottom: 13px;

}

.post-text {
    font-size: 22px;
    color: #06D1FB;
    font-family: "pix", serif;
    padding-left: 15px;
    margin-top: 12px;
}

.main-content-forum {
    text-align: left;
    padding-bottom: 10px;
    font-family: "pix", serif;
    border-bottom: 2px dashed purple;
}

.post-recent {
    color: #FFFB05;
    font-size: 24px;
    margin-bottom: 0;
}

.post-link {
    font-size: 18px;
    padding-left: 10px;
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #06D1FB;
}

#thanku {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 16px;
}

#recent-posts-footer {

}

.recent-footer {
    margin-top: 0;
    padding-top: 10px;
}

#clear-btn {
    border-radius: 4px;
    padding: 5px;
}

#create {
    font-size: 20px;
    color: #FFFB05;
    background-color: #0A0A0A;
    border: 2px solid purple;
    padding: 4px;
    font-family: "pix", serif;
    border-radius: 5px;

}
.post-form-class {
    font-family: "pix", serif;
    font-size: 24px;
    display: none;
    width: 400px;
    align-items: center;
    margin: 0 auto;
    gap: 7px;
}
.post-form-class textarea {
    border: 2px solid purple;
    resize: vertical;
    background-color: #030303;
    color: #F6F6F6;
    font-family: "pix", serif;
    font-size: 20px;
}

#post-title {
    width: 75%;
    padding: 4px;
    font-family: "pix", serif;
    font-size: 24px;
    margin-top: 5px;
    border-radius: 4px;
}

#post-content {
    padding: 4px 8px 250px;
    white-space: initial;
    overflow: scroll;
    width: 75%;
    margin-top: 5px;
    border-radius: 4px;
}
.form-popup {
    width: 100%;
    padding: 0 15px 15px 15px;
    margin: 0;
    border: none;
}
.button-container {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    column-gap: 10px;
}
#hidden-create {
    margin: 0 auto 5px auto;
}
button.send-cancel {
    width: 115px;
    background-color: #030303;
    color: #F6F6F6;
    border: 2px solid purple;
    padding: 5px 0;
    border-radius: 4px;
}
button:hover {
    background-color: #2D2D2D;
}
#red {
    color: red;
}
#green {
    color: green;
}
#send {
    margin: 0 auto;
    display: block;
}
.post-text {
    color: #06D1FB;
}
.post-header {
    color: #FFFB05;
}
.username-post {
    display: flex;
    justify-content: center;
    color: red;
    margin-bottom: 0;
    padding-top: 25px;
    width: 100%;
}