<!doctype html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.socket.io/5.3.4/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            const socket = io.connect('https://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            const $usermsg = $('#usermsg');

            $.get('/chat-log', function(data) {
                const reversedMessages = data.reverse();
                for (let i = 0; i < reversedMessages.length; i++) {
                    const message = reversedMessages[i];
                    $('#chatbox').append('<p><b>' + message.username + '</b>: ' + message.msg + '</p>');
                }
            });

            $('form[name="message"]').submit(function(e){
                e.preventDefault();
                const username = $('#chat-username').val();
                const message = $usermsg.val();
                if (message.length > 40) {
                    alert('Message length exceeds the limit of 40 characters.');
                    return false;
                }
                if (username.length > 10) {
                    alert('Username length exceeds the limit of 10 characters.');
                    return false;
                }
                socket.emit('message', {username: username, msg: message});
                $usermsg.val('');
                return false;
            });

            socket.on('server_response', function(data){
                const message = data.data;
                appendMessage(message.username, message.msg);
                if ($('#chatbox').find('p').length > 8) {
                    removeOldestMessage();
                }
            });

            function appendMessage(username, message) {
                const formattedMessage = '<p><b class="username">' + username + '</b>: ' + message + '</p>';
                $('#chatbox').append(formattedMessage);
            }

            function removeOldestMessage() {
                $('#chatbox').find('p').first().remove();
            }
        });
    </script>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>welcome</title>
</head>


<body>
<div id="container">
    <header class="yellow">
        <h1 class="rainbowText">
            <img src="https://99gifshop.neocities.org/items/new/links1.gif"> WORK IN PROGRESS! <img
                src="https://99gifshop.neocities.org/items/new/links1.gif">
            <a href="https://www.cameronsworld.net/">
                <img id="pika" src="https://99gifshop.neocities.org/items/4/animep_1.gif">
            </a>

        </h1>

    </header>

    <main>
        <div id="upper-content">
            <h2>
                <img src="https://99gifshop.neocities.org/items/3/star.gif">cozy corner<img
                    src="https://99gifshop.neocities.org/items/3/star.gif">
            </h2>
            <a href="/signup">signup</a>
        </div>
        <div class="main-content">
            <h3>The end of Geocities</h3>
            <p>In 1999, then-internet giant Yahoo purchased GeoCities for $3.5 billion. The GeoCities service then began
                to change its structure, although many of its legacy pages remained. GeoCities remained fairly popular
                with people new to the web into the early ’00s.
                However, its popularity began to decline as web hosting became cheaper and was more often included with
                ISP plans or inexpensive Mac.com accounts. The rise of social media sites, like Myspace also contributed
                to its demise.
                In 2009, Yahoo announced it would be shutting down GeoCities, prompting an outcry among digital
                preservationists about the massive loss of cultural history that would be. A volunteer Archive Team
                started capturing as many GeoCities pages as possible before Yahoo pulled the plug.
                They archived about 100,000 sites, and you can view most of them today on mirror sites, like
                oocities.org.
            </p>
        </div>
        <div class="main-content" id="chat-content">
            <div id="chat-wrapper">
            <div id="chatbox"></div>
                <div id="clear">
                    <form name="clear" action="/clear-chat" method="POST">
                        <input type="submit" value="clear">
                    </form>
                </div>
            <form name="message" autocomplete="off">
                <div class="form-wrapper">
                    <div class="input-wrapper">
                        <div class="form-field">
                            <label for="chat-username">username </label>
                            <input name="username" type="text" id="chat-username"required>
                        </div>
                        <div class="form-field">
                            <label for="usermsg">message </label>
                            <input name="usermsg" type="text" id="usermsg" required>
                        </div>
                    </div>
                    <div id="send">
                        <input name="submitmsg" type="submit" id="submitmsg" value="send">
                    </div>
                </div>
            </form>
        </div>
        </div>
        <div class="main-content">
            <br>
            <br>
            <p>- i am working on something great! please stay patient :)</p>
        </div>
    </main>

    <footer>
        <p class="blue">The internet is a <span class="yellow">strange</span> place.</p>
        <p class="yellow">But I feel at <span class="blue">home</span> here.</p>
        <div id="construct">
            <img src="https://99gifshop.neocities.org/items/2/construction.gif">
        </div>

        <audio class="audio" controls>
            <source src="/static/8bitaudio.mp3" type="audio/mpeg">
        </audio>

        <div id="img">
            <p id="footermsg" class="rainbowText">thank u for visiting!</p>
        </div>
        <a href="https://www.cutercounter.com/" target="_blank"><img
                src="https://www.cutercounter.com/hits.php?id=hvuxnpkpf&nd=4&style=15" border="0" alt="visitor counter"></a>
    </footer>
</div>


</body>
</html>ta) {
            var reversedMessages = data.reverse();
            for (var i = 0; i < reversedMessages.length; i++) {
                var message = reversedMessages[i];
                $('#chatbox').append('<p><b>' + message.username + '</b>: ' + message.msg + '</p>');
            }
        });

            $('form[name="message"]').submit(function(e){
                e.preventDefault();
                var username = $('#chat-username').val();
                var message = $('#usermsg').val();
                if (message.length > 40) {
                    alert('Message length exceeds the limit of 40 characters.');
                    return false;
                }
                if (username.length > 10) {
                    alert('Username length exceeds the limit of 10 characters.');
                    return false;
                }
                socket.emit('message', {username: username, msg: message});
                $('#usermsg').val('');
                return false;
            });

            socket.on('message', function(data){
                var message = data.data;
                appendMessage(message.username, message.msg);
                if ($('#chatbox').find('p').length > 8) {
                    removeOldestMessage();
                }
            });

            function appendMessage(username, message) {
              var formattedMessage = '<p><b class="username">' + username + '</b>: ' + message + '</p>';
              $('#chatbox').append(formattedMessage);
            }




            function removeOldestMessage() {
                $('#chatbox').find('p').first().remove();
            }
        });


    </script>
    <script src="https://unpkg.com/htmx.org@1.9.3" integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>welcome</title>
</head>


<body>
<div id="container">
    <header class="yellow">
        <h1 class="rainbowText">
            <img src="https://99gifshop.neocities.org/items/new/links1.gif"> WORK IN PROGRESS! <img
                src="https://99gifshop.neocities.org/items/new/links1.gif">
            <a href="https://www.cameronsworld.net/">
                <img id="pika" src="https://99gifshop.neocities.org/items/4/animep_1.gif">
            </a>

        </h1>

    </header>

    <main>
        <div id="upper-content">
            <h2>
                <img src="https://99gifshop.neocities.org/items/3/star.gif">cozy corner<img
                    src="https://99gifshop.neocities.org/items/3/star.gif">
            </h2>
            <a href="/signup">signup</a>
        </div>
        <div class="main-content">
            <h3>The end of Geocities</h3>
            <p>In 1999, then-internet giant Yahoo purchased GeoCities for $3.5 billion. The GeoCities service then began
                to change its structure, although many of its legacy pages remained. GeoCities remained fairly popular
                with people new to the web into the early ’00s.
                However, its popularity began to decline as web hosting became cheaper and was more often included with
                ISP plans or inexpensive Mac.com accounts. The rise of social media sites, like Myspace also contributed
                to its demise.
                In 2009, Yahoo announced it would be shutting down GeoCities, prompting an outcry among digital
                preservationists about the massive loss of cultural history that would be. A volunteer Archive Team
                started capturing as many GeoCities pages as possible before Yahoo pulled the plug.
                They archived about 100,000 sites, and you can view most of them today on mirror sites, like
                oocities.org.
            </p>
        </div>
        <div class="main-content" id="chat-content">
            <div id="chat-wrapper">
            <div id="chatbox"></div>
                <div id="clear">
                    <form name="clear" action="/clear-chat" method="POST">
                        <input type="submit" value="clear">
                    </form>
                </div>
            <form name="message" autocomplete="off">
                <div class="form-wrapper">
                    <div class="input-wrapper">
                        <div class="form-field">
                            <label for="chat-username">username </label>
                            <input name="username" type="text" id="chat-username"required>
                        </div>
                        <div class="form-field">
                            <label for="usermsg">message </label>
                            <input name="usermsg" type="text" id="usermsg" required>
                        </div>
                    </div>
                    <div id="send">
                        <input name="submitmsg" type="submit" id="submitmsg" value="send">
                    </div>
                </div>
            </form>
        </div>
        </div>
        <div class="main-content">
            <br>
            <br>
            <p>- i am working on something great! please stay patient :)</p>
        </div>
    </main>

    <footer>
        <p class="blue">The internet is a <span class="yellow">strange</span> place.</p>
        <p class="yellow">But I feel at <span class="blue">home</span> here.</p>
        <div id="construct">
            <img src="https://99gifshop.neocities.org/items/2/construction.gif">
        </div>

        <audio class="audio" controls>
            <source src="/static/8bitaudio.mp3" type="audio/mpeg">
        </audio>

        <div id="img">
            <p id="footermsg" class="rainbowText">thank u for visiting!</p>
        </div>
        <a href="https://www.cutercounter.com/" target="_blank"><img
                src="https://www.cutercounter.com/hits.php?id=hvuxnpkpf&nd=4&style=15" border="0" alt="visitor counter"></a>
    </footer>
</div>


</body>
</html>