<!doctype html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>welcome</title>
</head>


<body>
<div id="container">

    <header class="yellow">
        <h1 class="rainbowText">
            <img src="https://99gifshop.neocities.org/items/new/links1.gif"> WELCOME! <img
                src="https://99gifshop.neocities.org/items/new/links1.gif">
            <a href="https://www.cameronsworld.net/">
                <img id="pika" src="https://99gifshop.neocities.org/items/4/animep_1.gif">
            </a>
            {% if session['user_email'] is defined %}
                <p><em>logged in as {{ session['user_email'] }}</em></p>
            {% endif %}
        </h1>
    </header>

    <main>
        <div id="upper-content">
            <h2>
                <img src="https://99gifshop.neocities.org/items/3/star.gif">cozy corner<img
                    src="https://99gifshop.neocities.org/items/3/star.gif">
            </h2>
            {% if session['user_email'] is not defined %}
                <a href="/signup">signup</a> <a href="/login">login</a>
            {% endif %}
            {% if session['user_email'] is defined %}
                <a href="/logout">logout</a>
                <a href="/forum">forum</a>
            {% endif %}
        </div>
        <div class="main-content">
            <h3>The <em>new</em> old internet</h3>
            <p>welcome to Cozy Corner, a digital haven crafted to capture the charm & creative spirit of 90's web
                design. taking inspiration from platforms like geocities, and the vast collection of unique & expressive
                user-created webpages that followed.<br><br>
                todays social media lacks a lot of the fun & quirkiness that early digital social-networking platforms
                had. they are mostly motivated by ad revenue, clicks, and milking $$$ from their users. social media no
                longer feels 'fun'.<br><br>
                Cozy Corner is a place where internet users can connect. no friends list. no likes. no profile pictures.
                no ads. just sum internet friends havin' fun together, looking to connect & discuss the world wide web.
                <br><br>
                come reminisce about the beauty of early web-design in the chatroom or engage in conversation about
                anything u want in the forum. we have even enhanced the user-experience, so hopefully you can experience
                that sweet, sweet nostalgia without anything breaking. :)
            </p>
        </div>
        <div class="main-content" id="chat-content">
            <div id="chat-wrapper">
                <h3 id="terminal" class="rainbowText">leave a message!</h3>

                <div id="chatbox">
                </div>
                {% if session['admin'] == True %}
                    <div id="clear">
                        <form name="clear" action="/clear-chat" method="POST">
                            <input type="submit" value="clear" id="clear-btn">
                        </form>
                    </div>
                {% endif %}

                <form autocomplete="off" name="message" onsubmit="event.preventDefault(); submitMessage();">
                    <div class="form-wrapper">
                        <div class="input-wrapper">
                            <div class="form-field">
                                {% if session['user_email'] is not defined %}
                                    <label for="chat-username"><span class="red">username </span></label>
                                    <input name="username" type="text" id="chat-username" required>
                                {% endif %}
                                <input name="username" type="hidden" id="chat-username" value="{{ username }}">
                            </div>
                            <div class="form-field">
                                <label for="usermsg" class="message"><span class="blue">message </span></label>
                                <input name="usermsg" type="text" id="usermsg" required>
                            </div>
                        </div>
                        <div id="send">
                            <input name="submitmsg" type="submit" id="submitmsg" value="send">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="main-content">
            <br>
            <br>
            <h3 class="red">updates:</h3>
            <div class="cyan">
                <p>- added user sign-up, register now!</p>
                <p>- head to the login page to gain access to the new section...</p>
            </div>
            <br>
            <h3 class="red">coming soon:</h3>
            <div class="cyan">
                <p>- forum is currently in development for registered users</p>
                <p>- i am working on something great! please stay patient :)</p>
            </div>
        </div>
    </main>

    <footer>
        <p class="blue">The internet is a <span class="yellow">strange</span> place.</p>
        <p class="yellow">But I feel at <span class="blue">home</span> here.</p>

        <audio class="audio" controls>
            <source src="/static/8bitaudio.mp3" type="audio/mpeg">
        </audio>

        <div id="img">
            <p id="footermsg" class="rainbowText">thank u for visiting!</p>
        </div>
        <a href="https://www.cutercounter.com/" target="_blank"><img
                src="https://www.cutercounter.com/hits.php?id=hvuxnpkpf&nd=4&style=15" border="0" alt="visitor counter"></a>
    </footer>
</div>
</body>
</html>