<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>welcome</title>
</head>


<body>
<div id="container">

    <header class="yellow">
        <h1 class="rainbowText">
            <img src="https://99gifshop.neocities.org/items/new/links1.gif"> WORK IN PROGRESS! <img
                src="https://99gifshop.neocities.org/items/new/links1.gif">
            <a href="https://www.cameronsworld.net/">
                <img id="pika" src="https://99gifshop.neocities.org/items/4/animep_1.gif">
            </a>
        </h1>
    </header>

    <main>
        <div id="upper-content">
            <h2>
                <img src="https://99gifshop.neocities.org/items/3/star.gif">cozy corner<img
                    src="https://99gifshop.neocities.org/items/3/star.gif">
            </h2>
            <a href="/">home</a>
            <a href="/signup">signup</a>
        </div>
        <div class="main-content">
            <h3 id="login-header">super secret <span class="rainbowText">member-only</span> access</h3>
            <p id="login-p">please enter your email and password for forum access. thnx :)
            </p>
        </div>
        <div class="main-content" id="chat-content">
            <div id="chat-wrapper">
                <h3 id="terminal" class="rainbowText">plz dnt sql inject me</h3>
                <div id="chatbox">
                    <form class="login" action="/login" method="POST" autocomplete="off">
                        <span class="red">email:</span><input type="text" name="email" required>
                        <span class="cyan">password:</span><input type="password" name="password" required>
                        <button type="submit" id="login-submit">login</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p class="blue">The internet is a <span class="yellow">strange</span> place.</p>
        <p class="yellow">But I feel at <span class="blue">home</span> here.</p>
        <div id="img">
            <p id="footermsg" class="rainbowText">thank u for visiting!</p>
        </div>
        <a href="https://www.cutercounter.com/" target="_blank"><img
                src="https://www.cutercounter.com/hits.php?id=hvuxnpkpf&nd=4&style=15" border="0" alt="visitor counter"></a>
    </footer>
</div>
</body>
</html>