<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>welcome</title>
</head>


<body>
<div id="container">

    <header class="yellow">
        <h1 class="rainbowText">
            <img src="https://99gifshop.neocities.org/items/new/links1.gif"> VIEWING POST <img
                src="https://99gifshop.neocities.org/items/new/links1.gif">
            <a href="https://www.cameronsworld.net/">
                <img id="pika" src="https://99gifshop.neocities.org/items/4/animep_1.gif">
            </a>
            {% if session['user_email'] is defined %}
                <p><em>logged in as {{ session['user_email'] }}</em></p>
            {% endif %}
        </h1>
    </header>

    <main>
        <div id="upper-content">
            <h2>
                <img src="https://99gifshop.neocities.org/items/3/star.gif">cozy corner<img
                    src="https://99gifshop.neocities.org/items/3/star.gif">
            </h2>
            {% if session['user_email'] is defined %}
                <a href="/">home</a>
                <a href="/logout">logout</a>
                <a href="/forum">forum</a>
                <br>
                <br>

            {% endif %}
        </div>
        <div class="main-content-forum">
            <br>
        </div>
        {% if post %}
            <p>{{ x }}</p>
            <div class="main-content-forum">
                <ol id="forum-posts">
                    <li class="post">
                        <h3 class="post-header">{{ post[2] }}</h3>
                        <pre class="post-text">{{ post[3] }}</pre>
                    </li>
                </ol>
                <div class="username-delete-container">
                    <p class="username-post">{{ post[1] }}</p>
                    <button id="comment" class="comment">comment</button>
                    {% if session['user_email'] %}
                        <div class="comment-popup" id="comment-form">
                            <form action="/comment" method="POST" class="form-comment">
                                <h1 class="rainbowText" id="hidden-create">leave a comment :)</h1>
                                <textarea name="post-content" id="post-content"></textarea>
                                <div class="button-container">
                                    <button type="button" class="send-cancel" id="comment-cancel"><span
                                            id="red">cancel</span>
                                    </button>
                                    <button type="submit" class="send-cancel" id="comment-send"><span class="yellow">send</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}


        <div class="main-content-forum" id="recent-posts-footer">
            <ol id="forum-posts" class="recent-footer">
                <li class="post">
                    <h3 class="post-recent">recent posts:</h3>
                    {% for post_title, post_id in latest_posts %}
                        <p class="post-link"><a href="/post/{{ post_id }}" class="recent-links">{{ post_title }}</a></p>
                    {% endfor %}
                </li>
            </ol>

            <p id="thanku" class="rainbowText">thank u for visiting!</p>

        </div>

    </main>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='comments.js') }}"></script>
</body>
</html>