<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signup</title>
</head>


<body>
<div id="container">
    <header>
        <h1 class="rainbowText">
            <img src="https://99gifshop.neocities.org/items/new/links1.gif"> WORK IN PROGRESS! <img
                src="https://99gifshop.neocities.org/items/new/links1.gif">
        </h1>

    </header>

    <main>
        <div id="upper-content">
            <h2>
                <img src="https://99gifshop.neocities.org/items/3/star.gif">cozy corner<img
                    src="https://99gifshop.neocities.org/items/3/star.gif">
            </h2>
            <a href="/">home</a>
        </div>
        <div id="signup-form">
            <form class ="signup" action="/signup" method="POST" autocomplete="off">
                email: <input type="text" name="email" required><br>
                username: <input type="text" name="username" required><br>
                password: <input type="password" name="password" required><br>
                confirm pass: <input type="password" name="confirm" required><br>
                <button id="signsubmit" type="submit">sign up</button>
            </form>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        </div>
    </main>
</div>


</body>
</html>


