<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signup</title>
</head>


<body>
<div id="container">
    <header class="yellow">
        <h1>
            <img src="https://99gifshop.neocities.org/items/new/links1.gif"> WORK IN PROGRESS! <img
                src="https://99gifshop.neocities.org/items/new/links1.gif">
        </h1>

    </header>

    <main>
        <div id="upper-content">
            <h2>
                <img src="https://99gifshop.neocities.org/items/3/star.gif">cozy corner<img
                    src="https://99gifshop.neocities.org/items/3/star.gif">
            </h2>
            <a href="/">home</a>
        </div>
        <div id="signup-form">
            <form action="/signup" method="POST">
                email: <input type="text" name="email"><br>
                name: <input type="text" name="name"><br>
                password: <input type="password" name="password"><br>
                confirm pass: <input type="password" name="password_confirm"><br>
                <button type="submit">sign up</button>
            </form>
        </div>
        <br>
        <br>
        <img src="https://favim.com/pd/s12/orig/160406/cat-catstruction-play-on-words-construction-cats-Favim.com-4174852.jpeg"
             alt="catstruction">
    </main>
    <div id="welcome">
        <img src="https://cdn.theatlantic.com/thumbor/j6p05ljsBCHAkSaW7-9rdVXU_Rk=/media/img/posts/2015/10/mamagnolia_acresunderconstruction/original.gif"
             alt="construction">
    </div>
</div>


</body>
</html>


